/* My Resets */

p,h1,h2,h3 {
    margin: 0;
}

body{
    background-color: rgb(61, 61, 61);
    margin: 0;
}

/* Screen renders */
#gameIntro, #gameBoard, #gameOutro {
    max-width: 1000px;
    margin: 0 auto;
}

/*    -----------------------Intro Render    */

#gameIntro {
    background-color: #6d6c6d;
    color: whitesmoke;
    height: 600px;
    text-align: center;
    margin-top: 10vh;
}

#gameIntro h2, h3{
    padding-top: 10px;
    text-shadow: 2px 2px 4px black;
}

#gameIntro h2{
    font-size: 46px;
    color: rgb(255, 166, 0);
}


.characterSelection {
    border: solid saddlebrown 4px;
    box-shadow: 2px 2px 4px black;
    max-width: 800px;
    height: 400px;
    background-color: #836f49;
    margin: 20px auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.characterSelection img {
    width: 200px;
    height: 200px;
    transition: all 0.2s;
}

.characterSelection img:hover {
    width: 206px;
    height: 206px;
    box-shadow: 3px 3px 8px rgb(216, 216, 216);
    cursor: pointer;
}

/* ------------------Main Render BOARD */
#gameBoard{
    border: 4px solid rgb(241, 194, 63);
}

#displayArea{
    width: 100%;
    height: 320px;
    background-color: blanchedalmond;
}

#displayArea .playerSides{
    height: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#displayArea img, .battleinfoContainer{
    padding: 10px;
}

.battleinfoContainer {
    width: 140px;
}

/*    -----------------Player Cards Side                 */
.playerSpace {
    width: 100%;
    height: 250px;
    background-color: rgb(109, 108, 109);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* CARD */
.card, #enemyCard {
    width: 150px;
    height: 200px;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
}

.card:hover {
    box-shadow: 3px 3px 8px black;
    width: 152px;
    height: 202px;
    cursor: pointer;
}

.card h2, #enemyCard h2 {
    width: 100%;
    height: 50px;
    background-color: #c2aa7c;
    text-align: center;
    line-height: 50px;
}

.card img, #enemyCard img {
    width: 100%;
    height: 100px;
    background-color: #99845b;
    /* background-image: url("/imgs/bow.svg"); */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card p, #enemyCard p {
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #bca984;
}

#enemyNextATK {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 34px;
}
/* PASS */
#pass {
    padding: 10px;
    font-size: 16px;
}

#pass:hover {
    cursor: pointer;
}

/* ----------------------------OUTRO RENDER */
#gameOutro {
    background-color: #bca984;
    text-align: center;
    margin-top: 40vh;
    padding: 20px;
}