/* My Resets */

p,h1,h2,h3 {
    margin: 0;
}

body{
    background-color: rgb(61, 61, 61);
    margin: 0;
}

/*    Intro Render    */

#gameIntro {
    background-color: #6d6c6d;
    color: whitesmoke;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

#gameIntro h2, h3{
    padding-top: 10px;
}

#gameIntro h2{
    font-size: 34px;
}

.characterSelection {
    max-width: 800px;
    height: 400px;
    background-color: #836f49;
    margin: 20px auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.characterSelection img {
    width: 200px;
    height: 200px;
    transition: all 0.2s;
}

.characterSelection img:hover {
    width: 206px;
    height: 206px;
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

/* Main Render */

#gameBoard {
    max-width: 1000px;
    margin: 0 auto;
}

#displayArea{
    width: 100%;
    height: 460px;
    background-color: blanchedalmond;
}

#displayArea .playerSides{
    height: 50%;
    display: flex;
    justify-content: center;
}

#displayArea img, .battleinfoContainer{
    padding: 10px;
}


/*          Player Cards Side                 */
.playerSpace {
    width: 100%;
    height: 250px;
    background-color: rgb(109, 108, 109);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* CARD */
.card, #enemyCard {
    width: 150px;
    height: 200px;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 3px 3px 8px black;
    cursor: pointer;
}

.card h2, #enemyCard h2 {
    width: 100%;
    height: 50px;
    background-color: #c2aa7c;
    text-align: center;
    line-height: 50px;
}

.card img, #enemyCard img {
    width: 100%;
    height: 100px;
    background-color: #99845b;
    /* background-image: url("/imgs/bow.svg"); */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card p, #enemyCard p {
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #bca984;
}